<html>
<head>
  <style>
    .centered {
      position:absolute;
      top: 14%;
      left:18%;
      align-content: center;

    }
    .white-back{
      background-color: white;
      opacity: 70%;
      width: 77%;
      padding: 10px;

    }
  </style>
</head>
<body>
<div class="centered">
  <h1 class="text-primary"> The Premier League</h1>
  <img src="assets/images/home.jpg" alt="Premier League Logo" width="1200" height="500"> <!--Adding the Image bottom of the Heading -->
  <br>
  <br>
  <div class="white-back">
    <p><b>The Premier League  Competition was Founded as the FA Premier League on 20 February 1992.Contested by 20 clubs,
      it operates on a system of promotion and relegation with the English Football League (EFL).Forty-Nine Clubs have Competed since 1992 ,Forty-seven English and Two Welsh Clubs.
      The Premier League is the most-watched sports league in the world Which broadcast in 212 territories to 643 million homes and a  TV audience of 4.7 billion people.The Club which has
      won the most number of Championships till now  is  Manchester United.Club Liverpool holds the  current championship for the year 2019-2020.<!--Information abou the Premier League-->
    </b></p>
  </div>
</div>
</body>
</html>








