<html>
<head>
  <style>
    .centered {
      position:absolute;
      top:20%;
      left:15%;
      align-content: center;
    }
    .container {
      position: relative;
    }
  </style>
</head>
<body>
<div class="centered">
  <h1 class="text-primary">Premier League Table Sorted According to Number of Goals</h1>
  <table class="table  table-hover">
    <thead>
    <tr class="table-primary">
      <th scope="col">Club Name</th>
      <th scope="col">Club Location</th>
      <th scope="col">ClubType</th>
      <th scope="col">Number Of Goals</th>
      <th scope="col">Goals Received</th>
      <th scope="col">Goal Difference</th>
      <th scope="col">Total Points</th>
      <th scope="col">Matches Played</th>
      <th scope="col">Number Of Wins</th>
      <th scope="col">Number of Draws</th>
      <th scope="col">Number of Defeats</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-light" *ngFor="let sortByGoals of sortedGoalsTable"> <!--Adding the Sorted arraylist according the number of goals the table-->
      <td>{{ sortByGoals.clubName }}</td>
      <td>{{ sortByGoals.clubLocation }}</td>
      <td>{{ sortByGoals.clubType}}</td>
      <td>{{ sortByGoals.goalScored}}</td>
      <td>{{ sortByGoals.goalsReceived}}</td>
      <td>{{ sortByGoals.goalDifference}}</td>
      <td>{{ sortByGoals.totalPoints}}</td>
      <td>{{ sortByGoals.matchesPlayed}}</td>
      <td>{{ sortByGoals.numberOfWins}}</td>
      <td>{{ sortByGoals.numberOfDraws}}</td>
      <td>{{ sortByGoals.numberOfDefeats}}</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>








